html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.maze {
    /* background-color: #bab9b9; */
    display: grid;
    grid-template-columns: repeat(30, 1fr);
}

.challenge {
    background-color: #4d91ff;
}

.wall {
    background-color: rgba(255, 0, 0, 0.2);
    box-shadow: inset 0 0 10px 1px red;
    border: 1px solid #ff3434;
}

.end {
    background-color: #00ff00;
}

.player {
    background-color: #fcdc4d;
}
/* .maze {
    border: 1px solid black;
}

.maze > div {
    border: 1px solid black;
} */
